<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_temp_fix">

    <!-- 正確なアラーム権限（Android 12+） -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- 通知権限（Android 13+） -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="flutter_temp_fix"
        android:icon="@mipmap/ic_launcher"
        android:name="${applicationName}">
        
        <activity
            android:name="com.example.flutter_temp_fix.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
